<h2>Flex List</h2>
<ul class="flex flexlist">
    <li><a href="#">test1</a></li>
    <li><img src="http://s0.hao123img.com/res/r/image/2014-10-21/8c41adcd21bfd6f198af7b99d520b242.jpg"/></li>
    <li><a href="#">test1</a></li>
    <li><a href="#">test1</a></li>
</ul>

<h2>Flex Grid</h2>
<div class="flex">
    <div class="flexgrid">
        <img class="flexgrid-limg" src="http://image.uc.cn/s/nav/g/olps/2014/1584ff7e63ab8606d50f348d5a4dfb9f.jpg">
    </div>
    <div class="flexgrid">
        <div class="flexgrid-r">
            <img class="" src="http://image.uc.cn/s/nav/g/olps/2014/e6509df98e4bb63af2ae75f1c1ef2a28.jpg">
        </div>
        <div class="flexgrid-r">
            <img class="" src="http://image.uc.cn/s/nav/g/olps/2014/e6509df98e4bb63af2ae75f1c1ef2a28.jpg">
        </div>
    </div>
</div>