/*
* @require ../lib/reset.css
*/
@import '../lib/stylus/base.styl';

#scrollTest
  line-height 30px;
  background-color orangered;
  font-size 18px
  text-align center
  color #ffffff
  margin 5px 0

.btn-s
  margin 10px auto
  display block;
  padding 5px

#showLog
  position fixed
  bottom 0
  right 0
  padding 10px
  background yellow