<!doctype html>
<html>
<head>
    <script>var startTime = new Date;</script>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <title>hello world</title>
    <link rel="stylesheet" type="text/css" href="../lib/reset.css">
    <link rel="stylesheet" type="text/css" href="index.styl">
    <!--[STYLES]-->
    <script>
        var headTime = new Date;
        headTime = (headTime.getTime() - startTime.getTime()) / 1000;
        console.log("=============> headTime=" + headTime);

        document.onload = function() {
            var loadTime = new Date;
            loadTime = (loadTime.getTime() - startTime.getTime()) / 1000;
            console.log("=============> loadTime=" + loadTime);
        };
    </script>
</head>
<body>

    <button class="btn-s">测试滚动</button>
    <button onclick="javascript:alert(window.innerHeight);">获取窗口高度</button>
    <button onclick="javascript:alert(document.body.offsetHeight);">获取页面高度</button>
    <button onclick="javascript:alert(document.body.scrollHeight);">获取滚动条高度</button>
    {{{unit name="bgDemo"}}}

    {{{unit name="bgDemo"}}}
    <button class="btn-s">测试滚动</button>
    {{{unit name="bgDemo"}}}
    <script>
        var firstTime = new Date;
        firstTime = (firstTime.getTime() - startTime.getTime()) / 1000;
        console.log("=============> firstTime=" + firstTime);
    </script>
    <button class="btn-s">测试滚动</button>
    {{{unit name="constellationBar"}}}
    <button onclick="javascript:alert(window.innerHeight);">获取窗口高度</button>
    <button onclick="javascript:alert(document.body.offsetHeight);">获取页面高度</button>
    <button onclick="javascript:alert(document.body.scrollHeight);">获取滚动条高度</button>
    <div id="scrollTest">动画滚动测试</div>
    <div id="showLog">

    </div>
    <script type="text/javascript" src="../lib/md.js"></script>
    <script type="text/javascript" src="../lib/wastat.js"></script>
    <!--[SCRIPTS]-->
    <script>
        /*
        * @require components/scrollAnimate/scrollAnimate.js
        * */
    </script>
    <script type="text/javascript" src="index.js"></script>
</body>
</html>
