<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
        <title>瀑布流</title>
        <link rel="stylesheet" type="text/css" href="../lib/reset.css"/>
        <link rel="stylesheet" type="text/css" href="falls.css"/>
        <link rel="stylesheet" type="text/css" href="../lib/stylus/base.styl"/>
        <!--[STYLES]-->
    </head>
    <body>
        <div id="main">
            <div class="box">
                <div class="pic">
                    <img src="http://image.uc.cn/s/nav/g/olps/2014/e6509df98e4bb63af2ae75f1c1ef2a28.jpg"/>
                </div>
            </div>
            <div class="box">
                <div class="pic">
                    <img src="http://image.uc.cn/s/nav/g/olps/2014/1584ff7e63ab8606d50f348d5a4dfb9f.jpg"/>
                </div>
            </div>
            <div class="box">
                <div class="pic">
                    <img src="http://image.uc.cn/s/nav/g/olps/2014/e6509df98e4bb63af2ae75f1c1ef2a28.jpg"/>
                </div>
            </div>
            <div class="box">
                <div class="pic">
                    <img src="http://image.uc.cn/s/nav/g/olps/2014/1584ff7e63ab8606d50f348d5a4dfb9f.jpg"/>
                </div>
            </div>
            <div class="box">
                <div class="pic">
                    <img src="http://image.uc.cn/s/nav/g/olps/2014/e6509df98e4bb63af2ae75f1c1ef2a28.jpg"/>
                </div>
            </div>
            <div class="box">
                <div class="pic">
                    <img src="http://image.uc.cn/s/nav/g/olps/2014/1584ff7e63ab8606d50f348d5a4dfb9f.jpg"/>
                </div>
            </div>
            <div class="box">
                <div class="pic">
                    <img src="http://image.uc.cn/s/nav/g/olps/2014/e6509df98e4bb63af2ae75f1c1ef2a28.jpg"/>
                </div>
            </div>
            <div class="box">
                <div class="pic">
                    <img src="http://image.uc.cn/s/nav/g/olps/2014/1584ff7e63ab8606d50f348d5a4dfb9f.jpg"/>
                </div>
            </div>
            <div class="box">
                <div class="pic">
                    <img src="http://image.uc.cn/s/nav/g/olps/2014/e6509df98e4bb63af2ae75f1c1ef2a28.jpg"/>
                </div>
            </div>
            <div class="box">
                <div class="pic">
                    <img src="http://image.uc.cn/s/nav/g/olps/2014/1584ff7e63ab8606d50f348d5a4dfb9f.jpg"/>
                </div>
            </div>
        </div>

        <script src="../lib/md.js"></script>
        <!--[SCRIPTS]-->
        <script>
            /*
            * @require /components/util/util.js
            * */
        </script>
        <script src="falls.js"></script>
    </body>
</html>
