<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
        <title>FlexDemo</title>
        <link rel="stylesheet" type="text/css" href="../lib/reset.css"/>
        <link rel="stylesheet" type="text/css" href="flexPg.css"/>
        <link rel="stylesheet" type="text/css" href="../lib/stylus/base.styl"/>
        <!--[STYLES]-->
    </head>
    <body>
        {{{unit name="flexDemo"}}}

        <script src="../lib/md.js"></script>
        <!--SCRIPTS-->
        <script src="flexPg.js"></script>
    </body>
</html>
